---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: " Septiembre 2023 - Actualmente...",
    title: "Microsoft User Research Windows Developers − Microsoft Voluntariado",
    description:
      "Como participante en el programa de Microsoft User Research para desarrolladores de Windows, colaboro activamente con equipos de investigación, aportando feedback sustancial sobre herramientas esenciales como Terminal, WSL (Windows Subsystem for Linux), PowerToys y DevHome. Al probar prototipos y funcionalidades en desarrollo, identifico errores y propongo mejoras, utilizando mi experiencia práctica para superar obstáculos técnicos. Mis aportaciones, basadas en una comunicación clara y análisis crítico, no solo mejoran la experiencia de desarrollo dentro del ecosistema de Windows sino que también ayudan a moldear el futuro de estas herramientas para la comunidad de desarrolladores global.",
    link: "https://github.com/miguel-ardila",
  },
  {
    date: "Marzo 2023 - Octubre 2023",
    title: "Freelance Desarrollador web shopify  − Importanos.co",
    description:
      "Como especialista freelance en comercio electrónico, lideré la creación y lanzamiento de tiendas online en Shopify, desde la concepción del diseño hasta la ejecución y puesta en marcha. Mis responsabilidades abarcaban la configuración de dominios personalizados, la integración de pasarelas de pago seguras y la configuración de Google DNS para asegurar una navegación fiable y rápida. Además, establecí infraestructuras de correo electrónico corporativo y fortalecí la presencia online mediante la integración de redes sociales. Administre meticulosamente los productos y catálogos, ofreciendo un soporte continuo y mantenimiento para garantizar operaciones fluidas y una experiencia de usuario.",
      link: "https://importanos.co/"
  },
  {
    date: "Marzo 2019 - Enero 2021",
    title: "Técnico De Servicio On Site IBM  − Isit International Services",
    description:
      "Como Técnico de Servicio On Site asociado con IBM, mi trabajo se centraba en proporcionar soporte técnico integral tanto presencial como remoto a usuarios de WPP-Company. Mis tareas abarcaban desde el soporte en software y hardware para equipos de computación, incluyendo sistemas operativos Apple y Mac OS, hasta asistencia con la Suite de Adobe. En cuanto a Microsoft 365 y Active Directory, me encargaba de verificar el estado de los usuarios, gestionando bloqueos, cambios de grupo y actualizaciones de contraseñas. Además, realizaba el alistamiento de equipos de cómputo, comprobaba la correcta funcionalidad de los servicios LAN y WiFi. Parte esencial de mi rol incluía la gestión eficiente de incidentes y el manejo de tickets a través de Service Now, asegurando una atención rápida y precisa a las necesidades de los clientes.",
      link: "https://www.isit.com.co/",
  },
  /*
  {
    date: "Octubre 2017 - Febrero 2019",
    title: "Analista de Servicio de Mesa de Ayuda IBM  − Stefanini Informatica y Tecnologia",
    description:
      "Como Técnico de Servicio On Site asociado con IBM, mi trabajo se centraba en proporcionar soporte técnico integral tanto presencial como remoto a usuarios de WPP-Company. Mis tareas abarcaban desde el soporte en software y hardware para equipos de computación, incluyendo sistemas operativos Apple y Mac OS, hasta asistencia con la Suite de Adobe. En cuanto a Microsoft 365 y Active Directory, me encargaba de verificar el estado de los usuarios, gestionando bloqueos, cambios de grupo y actualizaciones de contraseñas. Además, realizaba el alistamiento de equipos de cómputo, comprobaba la correcta funcionalidad de los servicios LAN y WiFi. Parte esencial de mi rol incluía la gestión eficiente de incidentes y el manejo de tickets a través de Service Now, asegurando una atención rápida y precisa a las necesidades de los clientes.",
      link: "https://stefanini.com/es/latam/stefanini-colombia",
  },
  
  {
    date: "Noviembre 2016 - Octubre 2017",
    title: "Technical Support & Help Desk  − Gilat Colombia",
    description:
      "Como especialista en Soporte Técnico y Help Desk, me dedicaba a proporcionar soporte remoto efectivo para computadoras y servidores Linux, enfocándome en la resolución rápida de incidencias para garantizar la continuidad del servicio y reducir el tiempo de inactividad. Gestionaba la configuración de redes LAN y WiFi para optimizar la conectividad y el rendimiento de la red, y también la configuración de sistemas de telefonía IP y mantenimiento de impresoras, asegurando una comunicación eficiente y la funcionalidad de equipos periféricos. Además, ofrecía asistencia técnica para Office 365, facilitando a los usuarios el acceso a herramientas colaborativas y mejorando la productividad del equipo. Mi experiencia abarca desde el mantenimiento técnico hasta el apoyo directo al usuario, siempre con el objetivo de brindar soluciones tecnológicas eficaces y un servicio al cliente excepcional.",
      link: "https://www.linkedin.com/company/gilat-colombia-sas-esp/",
  },
*/
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
